.Search{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.SearchContainer {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    padding: 0em;
    width: 50%;
}
.SearchContainer h1 {
    margin: 0px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #1c1c36;
}

.SearchContainer h3 {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #3d3d4a;
}

.SearchContainer p {
    margin: 0px;
}

.AutoCompleteContainer {
    display: flex;
    flex-flow: row;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}